@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: 'Miama';
    src: url('../fonts/miama/Miama.ttf') format('truetype');
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: rgba(0, 0, 0, 1);
}

.Miama-font {
    font-family: 'Miama';
    font-size: 12.25rem;
    font-weight: 500;
    font-style: italic;
    line-height: 7.8rem;
}


/* Shared common styles */
.display-flex {
    display: flex;
}

.bg-gradient {
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
    height: 940px;
}

.white-color {
    color: rgba(255, 255, 255, 1);
}

.orange-color {
    color: rgba(230, 83, 60, 1);
}

.orange-bg-color {
    background-color: rgba(230, 83, 60, 1);
}

.orange-border {
    border: 1px solid rgba(230, 83, 60, 1);
}

.white-border {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}

.btn-primary {
    border-radius: 42px;
    padding: 16px 48px;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 10px 10px 10px 0px;
}

main {
    max-width: 1413.33px;
    margin: 0px auto;
}

main > section {
    margin-top: 100px;
}



/* Navbar & Banner section */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 3rem;
    font-weight: 800;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-link-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    max-width: 38.5rem;
}

.nav-link {
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 5.33px;
    font-size: 1.5rem;
    font-weight: 400;
}

.home-link {
    padding: 11px 27px;
    border-radius: 3rem;
    font-weight: 600;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0px auto;
}

.banner-container {
    margin-top: 2.7rem;
}

.banner-title-container{
    margin-top: 5.33rem;
    margin-right: 18rem;
    margin-bottom: 6.33rem;
}

.banner-title{
    font-size: 6.5rem;
    font-weight: 900;
}

.banner-description {
    font-size: 1.33rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.banner-image-container > img {
    width: 30rem;
    height: 50rem;
}

.banner-badge {
    width: 14rem;
    height: 6rem;
    padding: 23px 31px 21px 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    align-items: center;
    position: relative;
    z-index: 1;
}

.banner-badge1-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-badge1-description {
    font-size: 1.33rem;
    font-weight: 400;
}

.badge1-whole {
    margin-top: -280px;
    margin-left: 945px;
}

.badge2 {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: -565px;
    margin-left: 1420px;
}

.banner-badge2-title {
    font-size: 3.33rem;
    font-weight: 900;
}

.banner-badge2-description {
    font-size: 1.08rem;
    font-weight: 400;
}

.banner-badge {
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

/* Habit Section */
.habit-text-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 895px;
    margin: 0px auto;
}

.habit-title {
    font-size: 4rem;
    font-weight: 900;
    margin: 0px;
}

.habit-description {
    text-align: center;
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.5);
}

.habit-img-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: space-around;
}

.habit-img-container .habit-img-card img {
    border-radius: 50%;
}

.habit-img-text-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-img-text-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
}

.habit-img-text-description {
    text-align: center;
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}


/* Excercise Section Styles */
.exercise-section {
    background: rgba(34, 34, 34, 1);
    border-radius: 20px;
    padding: 40px;
    gap: 373px;
}

.exercise-container {
    flex-direction: column;
    max-width: 30rem;
}

.exercise-title {
    font-size: 4rem;
    font-weight: 900;
    margin: 0px;
}

.exercise-description {
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.5);
}

.exercise-img {
    /* width: 30rem;
    height: 22rem; */
    overflow: hidden; /* Prevents the image from overflowing */
}

.exercise-img img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 70% 30%;
    border-radius: 25px;
}

/* BMI calculator Section Styles */
.bmi-calculator-container {
    flex-direction: column;
    max-width: 800px;
    margin: 0px auto;
}

.bmi-calculator-title {
    font-size: 4rem;
    font-weight: 900;
    margin: 0px;
}

.bmi-calculator-description {
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.5);
}





/* Responsive media query */
@media screen and (max-width: 575.98px) {
    .banner {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .banner {
        flex-direction: column;
        justify-content: center;
    }
}